.PlansPage__cards-plans__container {
  max-width: 1280px;
  width: auto;
  display: grid;
  row-gap: 2rem;
  column-gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

@media (max-width: 1024px) {
  .PlansPage__cards-plans__container {
    max-width: auto;
    display: flex;
    justify-content: start;
    padding: 20px 60px;
    width: 100%;
    max-width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  .PlansPage__cards-plans__container::-webkit-scrollbar {
    width: 0;
  }
}
